In [3]:
import pandas as pd

In [5]:
col_names = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=col_names,)
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [10]:
ratings.groupby('rating').count()

        user_id  movie_id  unix_timestamp
rating
1          6110      6110            6110
2         11370     11370           11370
3         27145     27145           27145
4         34174     34174           34174
5         21201     21201           21201