# 10 minutes to pandas

## Importation des libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Creation des objets

In [97]:
#Creation d'une series en passant une liste de valeurs; pandas va creer pas defaut un index de type int
s= pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
#Creation d'un dataFrame en utilisant un tableau numpy; un index de type datetime et des colonnes titrées
dates = pd.date_range('20130101',periods=6)
dates
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.698423  0.220982  0.142597  0.215486
2013-01-02 -0.774919 -0.916100  0.865190  1.062774
2013-01-03 -1.237917 -0.812357 -0.634043  0.518983
2013-01-04  0.678899  0.704538  0.189693  0.193893
2013-01-05 -1.397874 -0.524596  1.364724 -0.536403
2013-01-06  1.129258 -0.874545  1.419506 -0.458197

In [12]:
#Creation d'un dataframe en utilisant un dict d'objets qui peuvent etre convertis en series-like
df2=pd.DataFrame({ 'A' : 1.,
              'B' : pd.Timestamp('20130102'),
              'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
              'D' : np.array([3] * 4,dtype='int32'),
              'E' : pd.Categorical(["test","train","test","train"]),
              'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
#Les specifiques dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Viewing Data

#### Les sections basiques

#### Les premiers et derniers elements d'un data

In [15]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

#### Afficher l'index, les colonnes et les données numpy sous-jacentes

In [23]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.values

array([[ 0.6984227 ,  0.22098236,  0.14259725,  0.21548641],
       [-0.77491883, -0.91610006,  0.86519029,  1.06277434],
       [-1.23791737, -0.81235667, -0.63404314,  0.51898315],
       [ 0.678899  ,  0.70453814,  0.18969266,  0.19389288],
       [-1.3978738 , -0.52459617,  1.36472445, -0.53640313],
       [ 1.12925828, -0.87454499,  1.41950615, -0.45819742]])

#### La fonction describe  montre un rapide résumé statistique de vos données

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.150688 -0.367013  0.557945  0.166089
std    1.111276  0.674716  0.802065  0.602498
min   -1.397874 -0.916100 -0.634043 -0.536403
25%   -1.122168 -0.858998  0.154371 -0.295175
50%   -0.048010 -0.668476  0.527441  0.204690
75%    0.693542  0.034588  1.239841  0.443109
max    1.129258  0.704538  1.419506  1.062774

#### Transposition des données

In [27]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.698423   -0.774919   -1.237917    0.678899   -1.397874    1.129258
B    0.220982   -0.916100   -0.812357    0.704538   -0.524596   -0.874545
C    0.142597    0.865190   -0.634043    0.189693    1.364724    1.419506
D    0.215486    1.062774    0.518983    0.193893   -0.536403   -0.458197

#### Tri par axe

In [30]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02 -0.774919 -0.916100  0.865190  1.062774
2013-01-06  1.129258 -0.874545  1.419506 -0.458197
2013-01-03 -1.237917 -0.812357 -0.634043  0.518983
2013-01-05 -1.397874 -0.524596  1.364724 -0.536403
2013-01-01  0.698423  0.220982  0.142597  0.215486
2013-01-04  0.678899  0.704538  0.189693  0.193893

## Selection
Note Bien que les expressions Python / Numpy standard pour la sélection et le paramétrage soient intuitives et utiles pour le travail interactif, pour le code de production, nous recommandons les méthodes optimisées d'accès aux données pandas, .at, .iat, .loc, .iloc et .ix.
Voir la documentation d'indexation Indexation et sélection des données et MultiIndex / Indexation avancée

### Getting

In [33]:
df['A']

2013-01-01    0.698423
2013-01-02   -0.774919
2013-01-03   -1.237917
2013-01-04    0.678899
2013-01-05   -1.397874
2013-01-06    1.129258
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows.

In [32]:
df[0:3]

                   A         B         C         D
2013-01-01  0.698423  0.220982  0.142597  0.215486
2013-01-02 -0.774919 -0.916100  0.865190  1.062774
2013-01-03 -1.237917 -0.812357 -0.634043  0.518983

### Sélection par nom de colonne

Voir plus dans Sélection par nom de colonne

Pour obtenir une coupe transversale à l'aide d'un nom de colonne

In [34]:
df.loc[dates[0]]

A    0.698423
B    0.220982
C    0.142597
D    0.215486
Name: 2013-01-01 00:00:00, dtype: float64

### Sélection sur un multi-axe par nom de colonne

In [35]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.698423  0.220982
2013-01-02 -0.774919 -0.916100
2013-01-03 -1.237917 -0.812357
2013-01-04  0.678899  0.704538
2013-01-05 -1.397874 -0.524596
2013-01-06  1.129258 -0.874545

#### Affichage du découpage de colonne, les deux extrémités sont incluses

In [36]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.774919 -0.916100
2013-01-03 -1.237917 -0.812357
2013-01-04  0.678899  0.704538

#### Réduction des dimensions de l'objet retourné

In [37]:
df.loc['20130102',['A','B']]

A   -0.774919
B   -0.916100
Name: 2013-01-02 00:00:00, dtype: float64

#### Pour avoir acces à la valeur du scalaire

In [39]:
df.loc[dates[0],'A']

0.6984226963077137

#### Pour avoir vite acces au  scalar

In [40]:
df.at[dates[0],'A']

0.6984226963077137

### Sélection  par position

Voir plus sur la sélection par position

Selectionner via la position de la variable de type integer choisie

In [41]:
df.iloc[3]

A    0.678899
B    0.704538
C    0.189693
D    0.193893
Name: 2013-01-04 00:00:00, dtype: float64

#### Par decoupage de variables de type integer, agissant comme numpy / python

In [42]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.678899  0.704538
2013-01-05 -1.397874 -0.524596

#### Par des listes d'emplacements de positions entières, semblables au style numpy / python

In [43]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.774919  0.865190
2013-01-03 -1.237917 -0.634043
2013-01-05 -1.397874  1.364724

#### Pour couper les colonnes explicitement

In [44]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.774919 -0.916100  0.865190  1.062774
2013-01-03 -1.237917 -0.812357 -0.634043  0.518983

In [45]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.220982  0.142597
2013-01-02 -0.916100  0.865190
2013-01-03 -0.812357 -0.634043
2013-01-04  0.704538  0.189693
2013-01-05 -0.524596  1.364724
2013-01-06 -0.874545  1.419506

#### Pour couper des colonnes explicitement

In [47]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.220982  0.142597
2013-01-02 -0.916100  0.865190
2013-01-03 -0.812357 -0.634043
2013-01-04  0.704538  0.189693
2013-01-05 -0.524596  1.364724
2013-01-06 -0.874545  1.419506

#### Pour avoir une valeur plus explicite

In [48]:
df.iloc[1,1]

-0.91610005923169402

#### Pour avoir accces rapidement à un scalar (equiv to the prior method)

In [49]:
df.iat[1,1]

-0.91610005923169402

### Boolean Indexing

#### Utilisation des valeurs d'une seule colonne pour sélectionner des données.

In [50]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.698423  0.220982  0.142597  0.215486
2013-01-04  0.678899  0.704538  0.189693  0.193893
2013-01-06  1.129258 -0.874545  1.419506 -0.458197

A where operation for getting.

In [51]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.698423  0.220982  0.142597  0.215486
2013-01-02       NaN       NaN  0.865190  1.062774
2013-01-03       NaN       NaN       NaN  0.518983
2013-01-04  0.678899  0.704538  0.189693  0.193893
2013-01-05       NaN       NaN  1.364724       NaN
2013-01-06  1.129258       NaN  1.419506       NaN

#### Utilisation de la methode isin() pour filtrer

In [52]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  0.698423  0.220982  0.142597  0.215486    one
2013-01-02 -0.774919 -0.916100  0.865190  1.062774    one
2013-01-03 -1.237917 -0.812357 -0.634043  0.518983    two
2013-01-04  0.678899  0.704538  0.189693  0.193893  three
2013-01-05 -1.397874 -0.524596  1.364724 -0.536403   four
2013-01-06  1.129258 -0.874545  1.419506 -0.458197  three

In [53]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -1.237917 -0.812357 -0.634043  0.518983   two
2013-01-05 -1.397874 -0.524596  1.364724 -0.536403  four

### Setting

#### La définition d'une nouvelle colonne aligne automatiquement les données par les index

In [55]:
 s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
 s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [57]:
df['F'] = s1

#### Par titre

In [58]:
df.at[dates[0],'A'] = 0

#### Par position

In [ ]:
df.iat[0,1] = 0

#### En assignant avec un tableau numpy

In [59]:
df.loc[:,'D'] = np.array([5] * len(df))

#### Resultat des operations precedentes

In [60]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.220982  0.142597  5  NaN
2013-01-02 -0.774919 -0.916100  0.865190  5  1.0
2013-01-03 -1.237917 -0.812357 -0.634043  5  2.0
2013-01-04  0.678899  0.704538  0.189693  5  3.0
2013-01-05 -1.397874 -0.524596  1.364724  5  4.0
2013-01-06  1.129258 -0.874545  1.419506  5  5.0

#### Operation where

In [63]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000 -0.220982 -0.142597 -5  NaN
2013-01-02 -0.774919 -0.916100 -0.865190 -5 -1.0
2013-01-03 -1.237917 -0.812357 -0.634043 -5 -2.0
2013-01-04 -0.678899 -0.704538 -0.189693 -5 -3.0
2013-01-05 -1.397874 -0.524596 -1.364724 -5 -4.0
2013-01-06 -1.129258 -0.874545 -1.419506 -5 -5.0

### Missing Data

Pandas utilise la valeur np.nan pour representer les missing values.ils sont par defaut dans la librarie.
le reindexage permet de changer/ajouter/supprimer l'index sur un axe precis. Une copie du data est renvoyée.

In [64]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

df1.loc[dates[0]:dates[1],'E'] = 1

df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.220982  0.142597  5  NaN  1.0
2013-01-02 -0.774919 -0.916100  0.865190  5  1.0  1.0
2013-01-03 -1.237917 -0.812357 -0.634043  5  2.0  NaN
2013-01-04  0.678899  0.704538  0.189693  5  3.0  NaN

#### Pour ne selectionner que les lignes ne contenant pas de na value:

In [65]:
df1.dropna(how='any')

                   A       B        C  D    F    E
2013-01-02 -0.774919 -0.9161  0.86519  5  1.0  1.0

#### Pour remplir une missing value

In [66]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.220982  0.142597  5  5.0  1.0
2013-01-02 -0.774919 -0.916100  0.865190  5  1.0  1.0
2013-01-03 -1.237917 -0.812357 -0.634043  5  2.0  5.0
2013-01-04  0.678899  0.704538  0.189693  5  3.0  5.0

#### Pour avoir le masque booleen quand les valeurs sont des na

In [68]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

### Stats

#### Les operations en general exclus les missing data.

#### Performing a descriptive statistic

In [69]:
df.mean(1)

2013-01-01    1.340895
2013-01-02    1.034834
2013-01-03    0.863137
2013-01-04    1.914626
2013-01-05    1.688451
2013-01-06    2.334844
Freq: D, dtype: float64

#### Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [71]:
 s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
 s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

### Apply

### Applying functions to the data

In [72]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -2.237917 -1.812357 -1.634043  4.0  1.0
2013-01-04 -2.321101 -2.295462 -2.810307  2.0  0.0
2013-01-05 -6.397874 -5.524596 -3.635276  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [74]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.220982  0.142597   5   NaN
2013-01-02 -0.774919 -0.695118  1.007788  10   1.0
2013-01-03 -2.012836 -1.507474  0.373744  15   3.0
2013-01-04 -1.333937 -0.802936  0.563437  20   6.0
2013-01-05 -2.731811 -1.327532  1.928162  25  10.0
2013-01-06 -1.602553 -2.202077  3.347668  30  15.0

In [75]:
df.apply(lambda x: x.max() - x.min())

A    2.527132
B    1.620638
C    2.053549
D    0.000000
F    4.000000
dtype: float64

### Histogramming

In [76]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    4
1    5
2    0
3    6
4    4
5    4
6    0
7    4
8    0
9    3
dtype: int32

In [77]:
s.value_counts()

4    4
0    3
6    1
5    1
3    1
dtype: int64

#### String Methods


Series est équipé d'un ensemble de méthodes de traitement de chaîne dans l'attribut str qui le rendent facile à utiliser sur chaque élément du tableau, comme dans l'extrait de code ci-dessous. Notez que le pattern-matching dans str utilise généralement des expressions régulières par défaut (et dans certains cas les utilise toujours). Voir plus dans les Méthodes Vectorized String

In [79]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [80]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge
Concat

Pandas offre diverses facilités pour combiner facilement des objets Series, DataFrame et Panel avec différents types de logique de consigne pour les index et la fonctionnalité d'algèbre relationnelle dans le cas d'opérations de type join / merge.
Voir la section Merging
Concaténation des objets pandas avec concat ():

In [82]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.096717 -1.529961 -1.670742 -0.320149
1 -1.333232 -0.220732  0.513523 -0.259995
2 -1.049984 -0.202441 -0.393525 -2.673018
3  1.209396  1.004861  1.240425 -0.184456
4 -0.557917 -1.007297  0.300969 -0.325354
5 -0.186068 -0.483675 -0.084183 -3.452545
6 -0.374476 -0.983406 -1.090661  1.083333
7  0.009462  0.005618  0.695615  1.280991
8 -0.331996  0.619475  0.376203 -2.129524
9  0.268534 -0.559885 -0.714330 -0.363373

In [83]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -0.096717 -1.529961 -1.670742 -0.320149
1 -1.333232 -0.220732  0.513523 -0.259995
2 -1.049984 -0.202441 -0.393525 -2.673018
3  1.209396  1.004861  1.240425 -0.184456
4 -0.557917 -1.007297  0.300969 -0.325354
5 -0.186068 -0.483675 -0.084183 -3.452545
6 -0.374476 -0.983406 -1.090661  1.083333
7  0.009462  0.005618  0.695615  1.280991
8 -0.331996  0.619475  0.376203 -2.129524
9  0.268534 -0.559885 -0.714330 -0.363373

### Join

SQL style merges. Voir le lien Database style joining

In [86]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

left

   key  lval
0  foo     1
1  foo     2

In [87]:
right

   key  rval
0  foo     4
1  foo     5

In [88]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### Append

Ajouter des lignes à un dataframe. Voir Appending

In [90]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

df

          A         B         C         D
0 -1.829057 -1.184753 -0.756441 -0.477867
1  0.002973  0.643800 -1.231292  0.945347
2  0.026766 -1.402808  0.946753  0.673888
3  0.214794  1.161086 -0.155930 -0.165937
4  1.460670 -1.340615  1.124522 -0.220924
5 -0.574234 -0.583355 -1.323732 -0.524008
6 -0.475629  0.345779 -0.055306  0.992896
7 -1.115156  0.453600  0.629323  0.315337

In [94]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.829057 -1.184753 -0.756441 -0.477867
1  0.002973  0.643800 -1.231292  0.945347
2  0.026766 -1.402808  0.946753  0.673888
3  0.214794  1.161086 -0.155930 -0.165937
4  1.460670 -1.340615  1.124522 -0.220924
5 -0.574234 -0.583355 -1.323732 -0.524008
6 -0.475629  0.345779 -0.055306  0.992896
7 -1.115156  0.453600  0.629323  0.315337
8  0.214794  1.161086 -0.155930 -0.165937

### Grouping
Par "groupe par", on entend un processus impliquant une ou plusieurs des étapes suivantes

Diviser les données en groupes en fonction de certains critères
Appliquer une fonction à chaque groupe indépendamment
Combiner les résultats dans une structure de données
Voir la section Groupes

In [95]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                              'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                      'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.000780  0.626136
1  bar    one -0.894371  1.063511
2  foo    two  1.119651  0.358836
3  bar  three -0.252189  0.160703
4  foo    two -2.148954 -1.364893
5  bar    two -1.094830  0.896277
6  foo    one  0.350380 -0.471801
7  foo  three -1.409160 -0.205174

#### Grouper et ensuite appliquer la fonction sum au groupe resultant

In [96]:
df.groupby('A').sum()

            C         D
A
bar -2.241390  2.120491
foo -2.087303 -1.056897